{% if element.categories %}
## @@i18n:docgen.kategoriar@@ {: #categories }

{% for cat in element.categories %}
* {{ cat }}
{%- endfor %}

{% endif %}
{% if element.keywords %}
## @@i18n:docgen.noekkelord@@ {: #keywords }

{% for kw in element.keywords %}
* {{ kw }}
{%- endfor %}

{% endif %}
{% if element.in_subset %}
## @@i18n:docgen.i_subset@@ {: #in-subsets }

{% for subset in element.in_subset %}
* {{ gen.link(subset) }}
{%- endfor %}

{% endif %}
{% if element.aliases %}
## @@i18n:docgen.alias@@ {: #aliases }

{% for alias in element.aliases %}
* {{ alias }}
{%- endfor %}
{% endif %}

{% if element.examples %}
## @@i18n:docgen.doeme@@ {: #examples }

| @@i18n:docgen.verdi@@ |
| --- |
{% for x in element.examples -%}
| {{ x.value }} |
{% endfor %}
{% endif -%}

{% if element.comments -%}
## @@i18n:docgen.kommentarar@@ {: #comments }

{% for x in element.comments -%}
* {{ x }}
{% endfor %}
{% endif -%}

{% if element.todos -%}
## TODOs

{% for x in element.todos -%}
* {{ x }}
{% endfor %}
{% endif -%}

{% if element.see_also -%}
## @@i18n:docgen.sjaa_ogsaa@@ {: #see-also }

{% for x in element.see_also -%}
* {{ gen.uri_link(x) }}
{% endfor %}
{% endif -%}

{% if element.notes -%}
## @@i18n:docgen.merknader@@ {: #notes }

{% for note in element.notes -%}
* {{ note }}
{% endfor %}
{% endif -%}

{% if element.alt_descriptions %}
## @@i18n:docgen.alternative_beskrivingar@@ {: #alternative-descriptions }

{% for source, alt_desc in element.alt_descriptions.items() %}
* **{{ source }}**: {{ alt_desc.description }}
{%- endfor %}
{% endif %}

## @@i18n:docgen.identifikator_og_mapping@@ {: #identifier-and-mapping-information }

{%- set has_admin_metadata = element.status or (element.rank is not none and element.rank != 1000) %}

{%- if has_admin_metadata %}
### @@i18n:docgen.administrative_metadata@@ {: #administrative-metadata }

{% if element.status -%}
**Status:** {{ element.status }}
{% endif -%}
{% if element.rank is not none and element.rank != 1000 -%}
**Rank:** {{ element.rank }}
{% endif -%}

{% endif %}
{% if element.id_prefixes %}
### @@i18n:docgen.gyldige_id_prefiks@@ {: #valid-id-prefixes }

@@i18n:docgen.id_prefiks_forklaring@@
{% for p in element.id_prefixes %}
* {{ p }}
{% endfor %}

{% endif %}

{% if element.annotations %}
### @@i18n:docgen.annotasjonar@@ {: #annotations }

| @@i18n:docgen.eigenskap@@ | @@i18n:docgen.verdi@@ |
| --- | --- |
{% for a in element.annotations -%}
{%- if a|string|first != '_' -%}
| {{ a }} | {% if a == 'vokabular_pattern' %}`{{ element.annotations[a].value }}`{% else %}{{ element.annotations[a].value }}{% endif %} |
{% endif -%}
{% endfor %}
{% endif %}

{% if element.from_schema or element.imported_from %}
### @@i18n:docgen.skjemakjelde@@ {: #schema-source }

{% if element.from_schema %}
* @@i18n:docgen.fraa_skjema@@: {{ element.from_schema }}
{% endif %}
{% if element.imported_from %}
* @@i18n:docgen.importert_fraa@@: {{ element.imported_from }}
{% endif %}
{% endif %}

{% if schemaview.get_mappings(element.name).items() -%}
## @@i18n:docgen.mappingar@@ {: #mappings }

| @@i18n:docgen.mappingtype@@ | @@i18n:docgen.mappa_verdi@@ |
| ---  | ---  |
{% for m, mt in schemaview.get_mappings(element.name).items() -%}
{% if mt|length > 0 -%}
| {{ m }} | {{ mt|join(', ') }} |
{% endif -%}
{% endfor %}

{% endif -%}
